extends layout

block content
  h1= title
  p Nombre: #{name}
  p Descripción: #{description}
  p Misión: #{mission}
  p Valores: #{values}
  img(src=image, alt="Instituto Tecnologico de Gustavo A Madero")
