<h1>Listado de proyectos</h1>
<div class="row">
  {{#each projects}}
    <div class="col s12">
      <div class="card teal darken-4">
        <div class="card-content teal-text text-lighten-5">
          <span class="card-title">{{name}}</span>
          <p>{{description}}</p>
        </div>
        <div class="card-action">
					<a href="/project/edit/{{_id}}">
            <i class="material-icons" 
              style = "display: inline-flex; vertical-align: sub;">edit</i>
            <span >Editar Proyecto</span>
          </a>
          <a href="javascript: deleteProject('{{_id}}')" class="inline">
            <i class="material-icons" 
	            style = "display: inline-flex; vertical-align: sub;">
	            delete</i>
            Borrar Proyecto
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No hay proyectos que listar.</p>
  {{/each}}
</div>